{% extends "sefas_admin/adminbase.html" %}
{% load crispy_forms_tags %}
{% block acontent %}

<div class="content-section">
    <legend calss="border-bottom mb-4">
        Job Report
    </legend>
    <table id="job" class="table table-striped">
        <thead class="thead-dark">
        <td>User</td>
        <td>Day</td>
        <td>Job Title</td>
        <td>Customer</td>
        <td>Note</td>
        <td>Hours</td>
        </thead>
        {% for job in jobs %}          
        <tr>
            <td>{{ job.user }}</td>
            <td>{{ job.day }}</td>
            <td>{{ job.job_title}}</td>
            <td>{{ job.customer }}</td>
            <td>{{ job.notes }}</td>
            <td>{{ job.day }}</td>
        </tr>
        {% endfor %}
    </table>
    {% if jobs.has_other_pages %}
    <ul class="pagination">
        {% if jobs.has_previous %}
        <li><a href="?page={{ jobs.previous_page_number }}">&laquo;</a></li>
        {% else %}
        <li class="disabled"><span></span></li>
        {% endif %}
        {% for i in jobs.paginator.page_range %}
        {% if jobs.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
        {% endfor %}
        {% if jobs.has_next %}
        <li><a href="?page={{ i.next_page_number }}">&raquo;</a></li>
        {% else %}
        <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
    {% endif %}
</div>
<div class="content-section">

    <h4>Generate CSV Report</h4>
    <p>This will generate a .csv file of the above info</p>

    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group absolute-bottom">
            <label for="date_from">Start date: </label>
            <input id="date_from" type="date" name="date_from">
            <label for="date_to">End date: </label>
            <input id="date_to" type="date" name="date_to">
            <button class="btn btn-outline-info" type="submit">Generate</button>
        </div>
    </form> 
</div> 
{% endblock acontent %}